# src/config/__pycache__/
# src/controller/__pycache__/
# src/controller_monitor/__pycache__/
# src/urinterface/src/third_party/__pycache__/
# src/dt/__pycache__/
# src/monitor/__pycache__/
# src/rmq/__pycache__/
# src/ur_rtde_client_library/__pycache__/
# rtde/UR_RTDE_CLIENT_LIBRARY/rtde/__pycache__/
__pycache__/
src/controller_monitor/test_results/robot_output.csv
*.pyc
